altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
DateTime==5.0
geojson==2.5.0
idna==3.4
pefile==2023.2.7
pyglet==2.0.5
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
pyowm==3.3.0
PySocks==1.7.1
pytz==2022.7.1
pywin32-ctypes==0.2.0
requests==2.28.2
urllib3==1.26.14
zope.interface==5.5.2
Django==4.2.7
